<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    <h1>My Todo List 2022</h1>

    <!--the form action redirect to the add function in the app file and exectutes it--!>
    <form action="/add" method="post">
      <div>
        <label for="title">New Todo</label>
        <input type="text" name="title" placeholder="Enter a note..." />
        <button type="submit">Add</button>
      </div>
    </form>

    <!--make a for loop for each elements in todo and endfor for stopping the loop--!>
    {% for todo in todo_list %}
    <div>
        <p>{{todo.id}} | {{todo.title}}</p>
        {% if todo.complete == False %}
            <span>Not completed</span>
        {% else %}
            <span>Completed</span>
        {% endif %}

        <button class="btn" onclick="location.href = '/update/{{ todo.id }}'">Update</button>
    </div>
    {% endfor %}
  </body>
</html>
